# =========================================================
# Example configuration file
# Copy this file to:
# config.properties
#
# Configuration values can also be provided through
# environment variables (used by CI/CD pipelines).
# Environment variables take precedence over file values.
# =========================================================

# =========================================================
# Browser configuration
# Supported values: chrome, firefox
# =========================================================
QA_BROWSER=chrome

# Run browser in headless mode
# Supported values: true, false
QA_HEADLESS=true

# Enable request/response debug logging
# Supported values: true, false
QA_DEBUG_MODE=false

# =========================================================
# UI configuration (SauceDemo)
# =========================================================
QA_BASE_URL=https://www.saucedemo.com

# Demo credentials
QA_USERNAME=standard_user
QA_PASSWORD=secret_sauce

# =========================================================
# UI & API configuration (Practice Software Testing)
# =========================================================
QA_PRACTICE_BASE_URL=https://practicesoftwaretesting.com
QA_PRACTICE_API_BASE_URL=https://api.practicesoftwaretesting.com

# Demo credentials
QA_PRACTICE_ADMIN_USERNAME=admin@practicesoftwaretesting.com
QA_PRACTICE_USERNAME=customer@practicesoftwaretesting.com
QA_PRACTICE_PASSWORD=welcome01